<%- include('./partials/header') %>   
<body>
    <div class="p-3 p-md-5">
        <h1>Publish an entry</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="postTitle">Title</label>
                <textarea class="form-control" name="postTitle" id="postTitle" cols="50" rows="2"></textarea>
                <label for="postEntry">Post</label>
                <textarea class="form-control" name="postEntry" id="postEntry" cols="50" rows="10"></textarea>
            </div>           
            <div>
                <button type="submit" class="btn btn-sm btn-outline-info my-1" href="#">Publish</button>
            </div>
        </form>
        
        
    </div>
    
    <%- include('./partials/footer') %>   


